/* ===== الصفحة بالكامل ===== */
body {
    margin: 0;
    background: #f4f6fa;
    background-image: url("https://wssp.hcww.com.eg/public/static/media/wsp.22cd4e849308ae80b006.png");
    font-family: "Segoe UI", sans-serif;
}


/* === TOPBAR === */
.topbar {
    width: 100%;
    height: 65px;
    background: rgba(135, 206, 250, 0.637);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-style: groove;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* زر Logout على اليسار */
.logout-button {
    background: #3c94e7;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto; /* ← يدفع العناصر الأخرى لليمين */
}
.logout-button:hover {
    background: #c0392b;
}

/* === صندوق الـ Section بجانب الشعار === */
.userinfo {
    background: rgba(255, 255, 255, 0.733);
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    min-width: 90px;
    margin-right: 10px;
}

.userinfo label{
    font-size: 13px;
    font-weight: bold;
    color: #333;
    
}

.userinfo input{
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    width:90px;
    text-align:center;
    font-weight:bold;
}

/* الشعار على أقصى اليمين */
.logo {
    
    width:4%;
}

/* ---------------------- */
/*     CHANGE PASSWORD    */
/* ---------------------- */

h2 {
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
  color: #333;

}

form {
  width: 360px;
  margin: 30px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.12);
}

label {
  display: block;
  font-weight: bold;
  color: #444;
  margin-bottom: 6px;
}

input[type="password"] {
  width: 90%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #bbb;
  margin-bottom: 20px;
  background: #fafafa;
  transition: 0.3s;
}

input[type="password"]:focus {
  border-color: #0284c7;
  background: #fff;
  outline: none;
  box-shadow: 0 0 6px rgba(2,132,199,0.3);
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #0284c7;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #03a14a;
}

/* ===== متجاوب للشاشات الصغيرة ===== */
@media (max-width: 768px) {
    .buttonlabel {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 500px) {
    .buttonlabel {
        width: 90%;
        height: 230px;
    }
}

