/* ===== الصفحة بالكامل ===== */
body {
    margin: 0;
    background: #f4f6fa;
    background-image: url("https://wssp.hcww.com.eg/public/static/media/wsp.22cd4e849308ae80b006.png");
    font-family: "Segoe UI", sans-serif;
}


/* === TOPBAR === */
.topbar {
    width: 100%;
    height: 65px;
    background: rgba(135, 206, 250, 0.637);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-style: groove;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* زر Logout على اليسار */
.logout-button {
    background: #3c94e7;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto; /* ← يدفع العناصر الأخرى لليمين */
}
.logout-button:hover {
    background: #c0392b;
}

/* === صندوق الـ Section بجانب الشعار === */
.userinfo {
    background: rgba(255, 255, 255, 0.733);
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    min-width: 90px;
    margin-right: 10px;
}

.userinfo label{
    font-size: 13px;
    font-weight: bold;
    color: #333;
    
}

.userinfo input{
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    width:90px;
    text-align:center;
}

/* الشعار على أقصى اليمين */
.logo {
    
    width:4%;
}



/* =================== محتوى الصفحة ================== */
.page-container {
    margin-top: auto;
    padding: 20px 40px;
}

/* عنوان الصفحة */
form h1 {
    text-align: center;
    color: #333;
    margin-top: 5%;
    
    
  
    
}

/* GRID للمعلومات */
.generalinfo,
.branchresponse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 0;
}

/* كيانات فردية */
.location,
.risk,
.action,
.branchremark,
.wspcomment {
    margin: 20px 0;
}

/* تنسيق المدخلات */
input,
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}
#duration {
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #aaa;
    transition: background-color 0.3s;
}

/* textarea */
textarea {
    height: 80px;
    resize: none;
    font-size: 15px;
    font-weight:bolder;
}

/* الأزرار */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 25px 0;
}

.wspbutton,
.branchbutton {
    background: #3498db;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.wspbutton:hover,
.branchbutton:hover {
    background: #21bb88;
}

#printReport {
    display: block;
    margin: auto;
    background: #27ae60;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#printReport:hover {
    background: #1e8c4c;
}
