 /* تصميم شريط علوي */
.topbar {
width: 100%;
height: 50px;
background-color: #007bff;
display: flex;
justify-content: flex-end; /* وضع العناصر على اليمين */
align-items: center;
padding: 0 20px;
box-sizing: border-box;
color: white;
font-family: Arial, sans-serif;
}

.logout-button {
background-color: #ff4d4d;
color: white;
border: none;
padding: 8px 16px;
border-radius: 4px;
cursor: pointer;
font-size: 14px;
}

.logout-button:hover {
background-color: #e60000;
}
            
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .options {
    display: flex;
    flex-wrap: wrap; /* لو الشاشة صغيرة ينتقل الزر للسطر التالي */
    gap: 100px;
    justify-content: center;
  }


  .buttonlabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    
  }

  .buttonlabel:hover {
    background-color: #007bff;
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
    transform: scale(1.5);
  }

  .buttonlabel img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: 0.3s;
   
  }

  .buttonlabel:hover img {
    transform: scale(1.5);
  }

  .buttonlabel span {
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
  }


  



