/* ===== الصفحة بالكامل ===== */
body {
    margin: 0;
    background: #f4f6fa;
    background-image: url("https://wssp.hcww.com.eg/public/static/media/wsp.22cd4e849308ae80b006.png");
    font-family: "Segoe UI", sans-serif;
}


/* === TOPBAR === */
.topbar {
    width: 100%;
    height: 65px;
    background: rgba(135, 206, 250, 0.637);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-style: groove;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* زر Logout على اليسار */
.logout-button {
    background: #3c94e7;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto; /* ← يدفع العناصر الأخرى لليمين */
}
.logout-button:hover {
    background: #c0392b;
}

/* === صندوق الـ Section بجانب الشعار === */
.userinfo {
    background: rgba(255, 255, 255, 0.733);
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    min-width: 90px;
    margin-right: 10px;
}

.userinfo label{
    font-size: 13px;
    font-weight: bold;
    color: #333;
    
}

.userinfo input{
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    text-align:center;
    width:90px;
}

/* الشعار على أقصى اليمين */
.logo {
    
    width:4%;
}

.generalinfo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 8%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.form-field {
    flex: 1;
}

.infolabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.form-buttons {
    display: flex; /* عرض الأزرار في صف واحد */
    justify-content: center; /* توزيع الأزرار عبر المساحة المتاحة */
    gap: 2px; /* المسافة بين الأزرار */
    margin-top: 20px;
}

#reportstation,
#reportbranch,
#reportall {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3c94e7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reportstation:hover,
#reportbranch:hover,
#reportall:hover {
    background-color: #45a049;
}

#reportstation:active,
#reportbranch:active,
#reportall:active {
    background-color: #388e3c;
}
